:root{
    --border-radius: 5px;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5c5c;
}

h3{
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0.5em;
}

label{
    font-weight: normal;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-top: 2em;
    font-size: 1.3em;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
}

.contenedor form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="text"],
select{
    padding: 1em;
    background-color: transparent;
    border: 1px solid #c9c9c9;
    width: 100%;
    border-radius: var(--border-radius);
}

.row-form{
    padding: 1em;
}

.label,
label{
    display: block;
    margin-bottom: 0.5em;
}

.radios{
    display: flex;
    gap: 1em;
    text-align: center;
}

button{
    display: block;
    padding: 1em;
    width: 100%;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    border-radius: var(--border-radius);
    font-size: 0.90em;
    transition: all ease 0.2s;
    text-transform: uppercase;
    letter-spacing: 5px;
}

button:hover{
    background-color: #2c6698;
    cursor: pointer;
}
